<h1>My Projects</h1>

<hr>

<ul>
  <% @projects.all %>
</ul>


<% if @projects.any? %>
  <table class="table">
    <head>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>URL Address</th>
      </tr>
    </head>
    <body>
        <% @projects.top_five_most_recent.each do |project| %>
          <tr>
            <td><%= link_to project.title, project_path(project) %></td>
            <td><%= project.desc %></td>
            <td><%= project.url %><td>
          </tr>
          <% end %>
        </ul>
        <% else %>
          <p>There are no projects!</p>
        <% end %>
      </body>
    </table>
    <br>
    <h5><%= link_to "Create a new Project", new_project_path %></h5>
